h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  
  
}

 .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  .centered {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  #aboutUsBackground {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #bandsmusic {
    background-image: url("..//images/cassets.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    
  }

 p{
   color: #fff;
 }



 #billboard{
  position:absolute;
  top: 150px;
  left:50px;
  color:white;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
   text-align: center;
   font-family: 'Anton', sans-serif;
   width:200px;
   float: left; 
   font-size: 20px;
   }
  #mtv {
    position:absolute;
    top: 80px;
  left:300px;
  color:white;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
   text-align: center;
   font-family: 'Anton', sans-serif;
   width:200px;
   font-size: 30px;
    
  }
  
  .album {
    border-radius: 70%;
    opacity: 0.7;
    
  }
  .popQuiz {
    border-radius: 70%;
    opacity: 0.7;
  }

  .bestAlbum {
    border-radius: 70%;
    opacity: 0.7;
  }
  a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color:black;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    text-decoration: underline;
  }

  #rollingStone {
    position:absolute;
    top: 1px;
  left:650px;
  color:white;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
   text-align: center;
   font-family: 'Anton', sans-serif;
   width:200px;
   font-size: 30px;
  }

  #rollingStone2 {
    position:absolute;
    top: 80px;
  left:980px;
  color:white;
  -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
   text-align: center;
   font-family: 'Anton', sans-serif;
   width:200px;
   font-size: 30px;
  }

  .musicVideo {
    border-radius: 70%;

  }